# --- Python ---
venv/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env

# --- JavaScript / React ---
node_modules/
dist/
.eslintcache
.DS_Store

# --- Database ---
*.db
alembic/versions/*.pyc

# --- IDEs ---
.vscode/
.idea/